.gradle
build
out
.idea
*.iml
*~
*.hprof
# sometimes antlr barfs, and I don't want to add those files by accident
src/main/gen/
# common in android projects
local.properties

#macos bs
.DS_STORE

.bash_history
*.salive
