name: Test

on:
  pull_request:
    paths-ignore:
      - '*.md'
      - '*.asciidoc'
  workflow_dispatch:
    inputs:
      reason:
        description: 'Reason for manual run'
        required: false

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  gradle:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v3
      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Setup java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17
      - name: Execute tests
        uses: gradle/gradle-build-action@v2
        with:
          arguments: check -s
      - name: Comment on PR with build scan
        uses: mshick/add-pr-comment@v2
        if: failure()
        with:
          repo-token: ${{ secrets.githubToken }}
          message: Build failed ${{ steps.gradle.outputs.build-scan-url }}
