name: Test

on:
  pull_request:
    paths-ignore:
      - '*.md'
      - '*.asciidoc'
  workflow_dispatch:
    inputs:
      reason:
        description: 'Reason for manual run'
        required: false

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  gradle:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v3
      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Cache gradle
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Setup java
        uses: actions/setup-java@v3
        with:
          java-version: 11
      - name: Execute tests
        id: gradle
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: ':check -s'
      - name: Comment on PR with build scan
        uses: mshick/add-pr-comment@v2
        if: failure()
        with:
          repo-token: ${{ secrets.githubToken }}
          message: Build failed ${{ steps.gradle.outputs.build-scan-url }}
      - name: Store hprof files
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: hprofs
          path: ./**/*.hprof
      - name: Store daemon log
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: daemon-log
          path: ./**/*.out.log
      - name: Store gc logs
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: gc-logs
          path: ./**/build/gc/*.log
